<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-sticky-note"></i> Gestor de Notas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories"><i class="fas fa-tags"></i> Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add"><i class="fas fa-plus"></i> Agregar Nota</a>
                </li>
            </ul>
            <form class="search-container d-flex">
                <input class="form-control me-2" type="search" id="searchInput" placeholder="Buscar..." aria-label="Buscar">
                <button class="btn btn-outline-light btn-icon" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button id="themeToggle" class="btn btn-outline-light ms-3">
                <i class="fas fa-moon"></i>
            </button>
        </div>
    </div>
</nav>